{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="col text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
            </div>
            <div>
                <img src="{% my_media object.image %}" alt="Card image app">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.category.category_name }}</li>
                    <li>{{ object.description }}</li>
                    {% if object.owner is not None %}
                        <li>{{ object.owner }}</li>
                    {% else %}
                        <li>Продавца нет</li>
                    {% endif %}
                    {% if object.owner == user or user.is_superuser %}
                    <a class="btn btn-outline-warning"
                       href="{% url 'catalog:product_update' object.pk %}">Редактировать товар</a>
                        <a class="btn btn-outline-danger"
                           href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}